<div class="container-fluid my-1 py-2 text-center">
    <app-search-form (emitSearch)="search($event)"></app-search-form>
    <div class="row mb-5">
        <div class="col-md-6" id="users" *ngIf='users'>
            <h2>Users Found</h2>
            <div class="row">
                <div class="col-md-12" *ngFor='let user of users; let i = index'>
                    <div class="card">
                        <div class="card-body">
                            <img src="{{user.picture}}" alt="" class="image-fluid w-50 mb-3"><br>
                            <p><strong>Id:</strong>{{user.id}}</p><br>
                            <h3>{{user.name}}</h3><br>
                            <p><strong>Score:</strong>{{user.score}}</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="repos" *ngIf='repositories'>
            <h2>Repositories Found</h2>
            <div class="row">
                <div class="col-md-12" *ngFor='let repository of repositories; let i = index'>
                    <div class="card">
                        <div class="card-title">
                            <h3><strong>Repo Name: </strong>{{repository.name}}</h3><br>
                        </div>
                        <div class="card-body" appHighlight *ngIf="hPoint()===repository.score && repository.score>0">
                            <p><strong>Author:</strong> {{repository.user}}</p><br>
                            <a href="{{repository.link}}">GitHub Link</a><br>
                            <p><strong>Created: </strong>{{repository.dateCreated|date}}</p>
                            <p>Score: {{repository.score}}</p>
                        </div>
                        <div class="card-body" *ngIf="hPoint()!==repository.score || repository.score===0">                            
                            <p><strong>Author:</strong> {{repository.user}}</p><br>
                            <a href="{{repository.link}}">GitHub Link</a><br>
                            <p><strong>Created: </strong>{{repository.dateCreated|date}}</p>
                            <p>Score: {{repository.score}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>